h1{
	text-align: center;
	color:rgba(14, 114, 89, 0.959);

}
*{
	box-sizing: border-box;
}
p{
	position: relative;
	border: 2px solid black;
	font-family: helvetica;
	text-decoration-color: rgba(3, 58, 26, 0.377);
	margin: 20px;
	width: 90%;
	display:flex;
	height: 100px;
	padding-top: 30px;
	background-color: rgb(65, 63, 63);
	font-size: 16px;
	
	}
	.col-1{
		width: 300px;
	}
	.col-2{
		width: 300px;
	}
	.col-3{
		width: 300px;
	}
	#C{
		position: absolute;
		top:0px;
		right: 0px;
		border-left: 1px solid black;
		border-bottom:1px solid black;
	    margin-bottom: 10px;
		width:20%;
		height: 20px;
		background-color: orange;
		text-align: center;
		text-decoration: khaki;
		

	}
	#B{
		position: absolute;
		top:0px;
		right: 0px;
		border-left: 1px solid black;
		border-bottom:1px solid black;
		margin-bottom: 10px;
		width:20%;
		height: 20px;
		background-color: rgb(0, 255, 179);
		text-align: center;
		text-decoration: khaki;

	}
	#S{
		position: absolute;
		top:0px;
		right:0px;
		border-left: 1px solid black;
		border-bottom:1px solid black;
		margin-bottom: 10px;
		width:20%;
		height: 20px;
		background-color: rgb(83, 35, 122);
		text-align: center;
		text-decoration: khaki;

	}

	
@media screen and (min-width:992px){
	.row{
		display: flex;
		flex-direction: wrap;
	}
}
@media screen and (min-width:768px){
	.col-1 col-2 {
		display: flex;
		flex: 50%;
	}
	col-3 {
		flex 100%
	}
}
@media screen and (max-width:768px){
	.row{
		flex-direction: column;
	}

	}
}
